extend layout 

block content 
    h1= title 
    p Listado de #{title}
    ul 
    div 
        table 
            thead 
                tr 
                    th Codigo
                    th Nombre
                    th Precio

            tbody
                each producto in productos 
                    tr 
                        td #{producto.codigo}
                        td #{producto.name}
                        td #{producto.precio}
